{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Changer votre Mot de passe</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('admin/user/_form_editPassword.html.twig', {'button_label': 'Confirmer'}) }}
    <a href="{{ path('admin_user_profile', {'id': app.user.id}) }}">Précédent</a>
{% endblock %}