{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Modifier l'Utilisateur</h1>
        {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('admin/user/_delete_form.html.twig') }}
    {% endif %}

        <a href="{{ path('admin_user_profile', {'id': app.user.id}) }}">back to list</a>
{% endblock %}
