{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success btn-sm">{{ button_label|default('Ajouter') }}</button>
        <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Réinitialiser
        </button>
        <br>
        <br>
{{ form_end(form) }}
