{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Modifier la Video</h1>

    {{ include('admin/video/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('admin/video/_delete_form.html.twig') }}
    <a href="{{ path('admin_video_index') }}">Précédent</a>


{% endblock %}
