{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label>Banière 1</label>
                <input type="file" class="form-control" name="BANIERE1">
            </div>
            <div class="row mb-3">
                <label>Banière 2</label>
                <input type="file" class="form-control" name="BANIERE2">
            </div>
            <div class="row mb-3">
                <label>Banière 3</label>
                <input type="file" class="form-control" name="BANIERE3">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}

