{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label>Fichier PDF du Catalogue</label>
                <input type="file" class="form-control" name="catalogue">
            </div>
            <div class="row mb-3">

            </div>
            <div>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}

