{% extends 'front/layout/base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello </h1>

    This is a friendly message : <br><br>
    AGRICULTURE : <br><br>
    Déplaqueuse Classen :  <br><br>
    Under normal operating conditions, the blade<br>
    is slight (blade bottom is flat). In extremely hard<br>
    or when cutting with a dull blade, the blade may<br>
    to ride out of the ground. At this time, it may help<br>
    angle the blade down. A short trial run will indicate<br>

    what blade angle is best. To do this, you will loosen<br>
    the pitch adjustment bolt K and move it slightly toward the engine, <br>
    then retighten bolt and nut.<br>
</div>

{% endblock %}