{% extends 'front/layout/base.html.twig' %}

{% block body %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>QUI SOMMES-NOUS ?</h2>
                     </div>
                    <div class="page_link">
                        <a href="{{ path('front_home') }}">ACCUEIL</a>
                        <a href="{{ path('front_qui_somme_nous') }}">QUI SOMMES-NOUS ?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading title_color">UNE DEUX</h3>
            <p class="sample-text">
                UNE DEUX propose une plateforme de location de location ouverte aux particuliers et aux professionnels.
                Les Services sont fournis par UNE DEUX rue place champollion 13800 Istres,France.
                La plateforme UNE DEUX met en relation des Propriétaires et des Locataires pour faciliter la Co-Navigation ou la Location d'Embarcations ainsi que la gestion des paiements entre Utilisateurs. Les Services sont accessibles sur le site UNE DEUX via l'adresse suivante www.immotunisie.fr déclinée aussi selon la langue choisie par l'utilisateur. Une application mobile immotunisie est aussi disponible.
                Les Services sont décrits en détail dans «CGU» : désigne les Conditions Générales d'Utilisation de UNE DEUX consultables à tout moment sur la plateforme.
                UNE DEUX est responsable du traitement des données à caractère personnel collectées lors de votre utilisation de nos Services et de notre site, depuis n'importe quel outil de connexion. En vous inscrivant sur la plateforme UNE DEUX, vous acceptez le dit traitement des données à caractère personnel en garantissant aussi l'exactitude de toutes les données que vous fournirez à notre Service.

            </p>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
