@media screen and (max-width: 600px)
{
    /* Rédigez vos propriétés CSS ici */
    .img-png {
        display: none;
    }

    .img-jpg {
        display: none;
    }

    ul {
        display: none;
    }

}