{% extends 'admin/layout/base.html.twig' %}
{% block body %}
	<h1>Edit Commande</h1>

	{{ include('admin/commande/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('app_commande_index') }}">Retourner à la liste</a>

	{{ include('admin/commande/_delete_form.html.twig') }}
{% endblock %}
