<form method="post" action="{{ path('admin_marque_delete', {'id': marque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
    <button class="btn btn-warning btn-sm">Supprimer</button>
</form>
