{% extends 'layout/base.html.twig' %}
{% block body %}
    <h1>Modifier la Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('categorie/_delete_form.html.twig') }}
    <a href="{{ path('admin_categorie_index') }}">back to list</a>


{% endblock %}
