{% extends 'front/layout/base.html.twig' %}
{% block body %}
    <div class="container">
    <h1>Changer votre Mot de passe</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('front/user/_form_editPassword.html.twig', {'button_label': 'Confirmer'}) }}
    </div>
{% endblock %}