{% extends 'layout/base.html.twig' %}
{% block body %}
    <h1>Ajouter un Utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">back to list</a>
{% endblock %}
