{% extends 'front/layout/base.html.twig' %}
{% block body %}
    <h1>Ajouter un Contact</h1>

    {{ include('front/contact/_form.html.twig') }}

    <a href="{{ path('front_contact_index') }}">Précédent</a>
{% endblock %}
